<html>
  <head><title>LedSvc Queue</title></head>
  <body>
    <p>
      There are <%= @info[:pending] %> pending and <%= @info[:processed] %> processed jobs across <%= @info[:queues] %> queues.
    </p>
  </body>
</html>
